<b>Привет{% if is_registered %}, {{ user.firstname }}{% endif %}!</b>

Я — бот платформы <b><a href="{{ website_url }}">BestTvGU</a></b>
Помогаю с входом на сайт и в целом очень полезен для студента!
{# почти полностью могу заместить собой сайт #}

{% if is_registered %}
<b>Отлично, вы зарегистрированы!</b>
{% else %}
<b>Как начать:</b>
• Для входа на сайт — введите <b>/login</b>
{% endif %}

<i>Если хотите пользоваться сайтом в браузере, введите команду <b>/reg_url</b></i>

<i>Новости, обновления и развитие проекта — в <b><a href="{{ telegram_channel_link }}">нашем канале</a></b></i>
